@tailwind base;
@tailwind components;
@tailwind utilities;

.box1{
  right:200px;
  bottom:400px;
}
.box2{
  right:80px;
  bottom:250px;
}
@media (min-width: 410px) and (max-width: 420px) {
  /* Styles that apply for screens between 410px and 420px wide */
  .box1{
   top:50px;
   left:60px;
   height :auto;
   width: auto;
  }
  .box2{
    top:50px;
    height :auto;
   width: auto;
  }
}
